<ion-header>
    <ion-toolbar>
        <ion-title>
            New Game
        </ion-title>
    </ion-toolbar>
    <ion-button expand="full" (click)="show()">
        Create New Game
    </ion-button>
</ion-header>

<ion-content>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addUser()">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-list>
        <ion-item *ngFor="let user of users">
            <ion-checkbox slot="end" [(ngModel)]="user.isChecked"></ion-checkbox>
            <ion-label>
                {{user.name}}
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
